S3method(plot,LexCA)
S3method(plot,LexCHCca)
S3method(plot,LexChar)
S3method(plot,TextData)
S3method(print,LexCA)
S3method(print,LexChar)
S3method(print,TextData)
S3method(summary,LexCA)
S3method(summary,TextData)
export(LabelTree)
export(LexCA)
export(LexCHCca)
export(LexChar)
export(LexHCca)
export(TextData)
export(ellipseLexCA)
export(plot.LexCA)
export(plot.LexChar)
export(plot.LexCHCca)
export(plot.TextData)
export(print.LexCA)
export(print.LexChar)
export(print.TextData)
export(summary.LexCA)
export(summary.TextData)
import(FactoMineR)
import(ggplot2)
import(gridExtra)
import(slam)
import(stats)
import(stringr)
import(tm)
importFrom(grDevices,dev.interactive)
importFrom(grDevices,dev.new)
importFrom(grDevices,palette)
importFrom(graphics,abline)
importFrom(graphics,barplot)
importFrom(graphics,layout)
importFrom(graphics,legend)
importFrom(graphics,lines)
importFrom(graphics,locator)
importFrom(graphics,par)
importFrom(graphics,plot)
importFrom(graphics,text)
importFrom(utils,head)
importFrom(utils,modifyList)
importFrom(utils,write.table)
importFrom(utils,packageDescription)

